<div class="hotels-list">
    <app-hotel 
    hotelName="Grand Plaza Recife"
    hotelImage="./assets/images/hotels/pic.jpg"
    hotelDistance="1.2Km" hotelRatingNumber="8,2" hotelEvaluation="Melhor Avaliação"
    hotelRating="great" bestHotel="best" hotelSugestion="Melhor Sugestão"
    priceBefore="R$ 267,80" currentPrice="R$ 239,90" nightNumber="4"
    moreinfoVisibility="true"
    
    detailText="Com apartamentos para até três pessoas e piscina, o Grand Palace recife está a apenas 500 metros da Praia de Boa Viagem. Wi-Fi, mesa de trabalho, cofre e ar-condicionado figuram em todos os quartos. Já o tamanho, o andar, e a vista das unidades, que pode ser interna ou para a cidade, são os diferenciais.">
</app-hotel>

<app-hotel 
    hotelName="Recife Plaza Hotel"
    hotelImage="./assets/images/hotels/pic-plaza.jpg"
    hotelDistance="2.8Km" hotelRatingNumber="7,2" hotelEvaluation="Boa Avaliação"
    hotelRating="good" hotelSugestion="Cancelamento Grátis"
    priceBefore="R$ 277,80" currentPrice="R$ 259,90" nightNumber="4"
    moreinfoVisibility="false">
</app-hotel>

<app-hotel 
    hotelName="Marante Plaza Hotel"
    hotelImage="./assets/images/hotels/pic-marante.jpg"
    hotelDistance="5.2Km" hotelRatingNumber="7,7" hotelEvaluation="Boa Avaliação"
    hotelRating="good" hotelSugestion="Cancelamento Grátis"
    priceBefore="R$ 305,80" currentPrice="R$ 289,90" nightNumber="4"
    moreinfoVisibility="false">
</app-hotel>
</div>


