<div class="wrapper">
  <section class="header po-row">
    <app-header class="po-lg-12"></app-header>
  </section>

  <div class="hotels po-row">
    <section class="hotels-filter po-lg-12">
      <app-filter class="po-lg-12 po-p-0"></app-filter>
    </section>
    <div class="hotels-content po-lg-12">
      <section class="hotels-content-list po-lg-7">
        <app-hotels></app-hotels>
      </section>
      <section class="hotels-content-map po-lg-5">
        <app-map></app-map>
      </section>
    </div>
  </div>
</div>